# OPENROUTER_API_KEY: Required for OpenRouter AI API calls
OPENROUTER_API_KEY="sk-or-v1-REPLACE_WITH_NEW_KEY"

# OPENROUTER_BASE_URL
OPENROUTER_BASE_URL="https://openrouter.ai/api/v1"

# MODEL
MODEL_NAME="google/gemma-3-27b-it:free"

# APP_URL: URL where the app is hosted
APP_URL="MY_APP_URL"